.services-page {
    text-align: center;
    margin-top: 50px;
    /* background-color: aquamarine;
    color: rgb(0, 6, 10);
    font-weight:500; */
  }
  
  .services-heading {
    margin-bottom: 20px;
  }
  
  .services-heading h2 {
    font-size: 2rem;
  }
  
  .services-description p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
  .service-card {
    flex-basis: calc(25% - 20px);
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  .service-image img {
    width: 100%;
    height: auto;
  }
  
  .service-description {
    padding: 20px;
  }
  
  .service-description h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .service-description p {
    font-size: 1rem;
  }
  